

.jumbotron {
    padding-top: 2rem;
    background-color: #ffff;
  }
  
  #hobby {
    background-color: #ffff;
  }
  
  .myHobby {
    color: #ffff;
  }
  
  .btn {
      color: white;
  }
  
  .pelengkap {
      color: #561C24;
  }
  
  
  #about {
      padding-top: 5rem;
      color: #ffff;
  }
  
  #contact {
      padding-top: 5rem;
      color: #ffff;
  }